* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(96, 0, 0);
    display: grid;
    grid-template-columns: 8vw 1fr 8vw;
    grid-template-rows: repeat(5, 100vh);
}

header {
    background-color: blueviolet;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

img {
    /* width:100%; */
    height:100%;
    object-fit: cover;
}

.menu {
    background-color: rgb(110, 63, 2);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
}

.name {
    background-color: rgb(255, 145, 0);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
}

.mainpic {
    background-color: rgb(0, 255, 217);
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

/* content */

.bio {
    background-color: chartreuse;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.showreel {
    background-color: rgb(0, 162, 255);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.photos {
    background-color: rgb(96, 30, 195);
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.contact {
    background-color: chartreuse;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}